.image-getter-wrapper {
  width: fit-content;
  color: white;
  text-align: left;

  .instructions {
    padding-bottom: 20px;
  }

  .params {
    background-color: #c0c0c0;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;

    .checks {
      display: flex;
      column-gap: 30px;
    }

    > button {
      background-color: #4caf50;
      border: none;
      border-radius: 15px;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }

    > button:hover {
      background-color: #2c9d30;
      color: white;
    }
  }

  .loader-container {
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
  }

  .image-container {
    padding: 30px;
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  @media (max-width: 800px) {
    width: 100%;
    .params {
      width: auto;
      flex-direction: column;
      .checks {
        flex-direction: row;
      }
    }
    .loader-container {
      width: auto;
    }
  }
}
